<h1 style="color:red " align="center";><strong>School Management</strong></h1>
<body style="background-color:#ddffcc;">
  <div id ="login">
  <%= form_tag sessions_path do %>
    <table align="center" cellspacing="2" cellpadding="3" border=0 class="login_table">
      <tr><td colspan="2" align="center">
        <h3 class="head">Sign in</h3></td></tr>
      <tr><th><%= label_tag :email %></th><td><%= text_field_tag :email , params[:email] ,:id=>"login_username", :class=>"field required" %></td></tr>
      <tr><th><%= label_tag :password %></th><td><%= password_field_tag :password , params[:password] , :class=>"field required"%>
            <%= hidden_field_tag :login_page, true %></td></tr>
    <tr><div class="submit"><td colspan="2" align="center" >
    <%= submit_tag  "Log in" , :class => "button" %></td></div></tr>
    </table>
    <% end %>
  </div>
</body>